.composta {
  // background: url(../images/backgrounds/classy_fabric.png) 100% 100%;
  background: url(../images/noise.png) 100% 100%;
  // background-color: #FF9E9D;
  background-color: #DAD8A7;
  background-color: hsl(30, 20%, 35%);
  color: #BBB;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;


  a {
    color: #BBB;

    &:hover {
      color: #CCC;
    }

    &:active {
      color: #BBB;
    }
  }
}

.about {
  h1 {
    margin-bottom: 0;
    font-size: 35px;
    text-align: center;
    font-family: 'Lemon', cursive;
    color: #FF9E9D;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  }

  p {
    margin-top: 5px;
    font-style: italic;
    text-align: center;
  }
}

.search {
  text-align: center;

  input[type=search] {
    width: 300px;
    font-size: 20px;
    line-height: 36px;
    padding-left: 30px;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    background: #CCC url(../images/search.svg) no-repeat .3em 50% / 1em auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: #444;

    &:focus {
      outline: none;
    }
  }

  .submit {
    background: #3FB8AF;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  }

  .results {
    position: fixed;
    width: 415px;
    margin: 0 auto;
    color: #EEE;
    ul {
      margin-top: 0;
      text-align: left;
      list-style: none;
      padding-left: 0;
      padding-top: 0;
      background-color: #6b5947;
      border-radius: 10px;
      box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
    }

    .owner {
      color: #3FB8AF;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }


    .language {
      color: #DAD8A7;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }

    .stats {
      float: right;
      color: #DAD8A7;
    }

    .result {
      padding-left: 5px;
      cursor: pointer;

      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
      &:hover {
        background-color: rgba(255,255,255,0.3);

      }
    }
  }

}

.repo-name {
  color: #FF3D7F;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


.candidates-wrapper {
  width: 960px;
  margin: 0 auto;

  h2 {
    margin-bottom: 0;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
  }

  .search-tip {
    margin-bottom: 0;
  }
}

.candidates, .candidate-info {
  width: 480px;
  border-radius: 10px;

  .name {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  }
}

.candidates {
  float: left;
  li {
    height: 25px;
  }

}

.candidate-info {
  float: right;

  i {
    margin-right: 10px;
  }

  h4 {
    margin: 0;
    margin-bottom: 0;
    // border-bottom: 1px dashed #ccc;
    background-color: rgba(0,0,0,0.5);
    padding-left: 5px;

    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  }

  ul {
    padding: 1px 10px 4px 10px;
    padding-left: 7px;
    padding-top: 1px;
    margin-top: -1px;
    background-color: rgba(255,255,255,0.1);
    padding-bottom: 2px;
    border-radius: 0 0 4px 4px;
  }

  li {
    label {
      float: left;
      width: 100px;
      text-align: left;
      color: #DAD8A7;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }

    span {
      color: #3FB8AF;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
  }

  .more {

  }
}

.remove, .remove-sign {
  cursor: pointer;
  transition: 0.3s text-shadow ease-out;

  &:hover {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  }
}

.remove {
  float: right;
}

.candidate {
  .more {
    cursor: pointer;
  }
}

.charts {
  min-height: 400px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 10px;
  box-shadow: inset 1px 1px 3px rgba(200,200,200,0.5);

  padding-bottom: 15px;
  
  h3 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    margin-top: 10px;
    margin-bottom: 10px;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.chart-wrapper {
  padding-left: 20px;
  padding-top: 1px;
}




footer {
  max-width: 960px;
  margin: 0 auto;
  p {
    text-align: right;
  }
  .icon-heart {
    color: #FF3D7F;
    -webkit-animation: beating 1s ease-in-out infinite;
  }
}

.ladda-button {
  line-height: 36px;
  padding: 0 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


// styles for the graphs
.chart {
  rect {
    // fill: #3FB8AF;
    -webkit-svg-shadow: 3px 3px 1px rgba(100, 100, 100, 0.7);
    stroke: rgba(0,0,0,0.2);
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
    -ms-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;

    cursor: pointer;

    &:hover {
      opacity: 0.5;
      stroke: rgba(0,0,0,0.4);
    }
  }
  text {
    fill: #BBB;
    -webkit-svg-shadow: 1px 1px 0px rgba(20, 20, 20, 0.9);
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
  }
}



// animations
@-webkit-keyframes beating {
  0% {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }

  100% {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  }
}








.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}